<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>
<body>
<form th:action="@{/user/add}" th:object="${user}" method="post">
    <p>Imię: <input type="text" th:field="*{firstName}"/>
    <p class="error" th:errors="*{firstName}"></p>
    <p>Nazwisko: <input type="text" th:field="*{lastName}"/>
    <p class="error" th:errors="*{lastName}"></p>
    <p>Nazwa użytkownika: <input type="text" th:field="*{username}"/>
    <p class="error" th:errors="*{username}"></p>
    <p>Hasło: <input type="text" th:field="*{password}"/>
    <p class="error" th:errors="*{password}"></p>
    <p><input type="submit" value="Submit"/></p>
</form>
</body>
</html>