<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>
<body>
<script>
    function selector() {
        var category = document.getElementById("options").value;
        var business = document.getElementById("selected")
        var other = document.getElementById("other")
        if (category === "służbowy") {
            business.removeAttribute("disabled");
            other.disabled = true;
        }
        else if (category === "prywatny") {
            business.disabled = true;
            other.disabled = true;
        }
        else if (category === "inny") {
            other.removeAttribute("disabled");
            business.disabled = true;
        }
    }
</script>
<div>Contact Form
</div>
<form th:action="@{/contact/add}" th:object="${contact}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <p>First name: <input type="text" th:field="*{firstName}"/></p>
    <p th:errors="*{firstName}"></p>
    <p>Last name: <input type="text" th:field="*{lastName}"/></p>
    <p th:errors="*{lastName}"></p>
    <p>E-mail: <input type="email" th:field="*{email}"/></p>
    <p th:errors="*{email}"></p>
    <p>Password: <input type="password" th:field="*{password}"/></p>
    <p th:errors="*{password}"></p>
    <p>Category</p>
    <select th:id="options" th:field="*{category}" th:onchange="'javascript:selector()'">
        <option th:value="służbowy" th:text="służbowy"></option>
        <option th:value="prywatny" th:text="prywatny"></option>
        <option th:value="inny" th:text="inny"></option>
    </select>
    <p>Subcategory:
        <select id="selected" th:field="*{subcategory}" disabled="true">
        <option th:each="subcategory: ${subcategory}" th:value="${subcategory.name}"
                th:text="${subcategory.name}"></option>
        </select></p>
    <p>Other:
    <input id="other" type="text" th:field="*{subcategory}" disabled="true"/></p>
    <p>Phone number: <input type="text" th:field="*{phone}"/></p>
    <p th:errors="*{phone}"></p>
    <p>Birthday: <input type="date" th:field="*{birthday}"/></p>
    <p th:errors="*{birthday}"></p>
    <p><input type="submit" value="Submit"/></p>
</form>
</div>
<a th:href="@{/contact/short}">Back to contacts</a>
</div>
</body>
</html>