<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>
<body>
<div>
    <table>
        <tr th:each="contact: ${contacts}">
            <td th:text="${contact.firstName}"/>
            <td th:text="${contact.lastName}"/>
            <td th:text="${contact.email}"/>
            <td th:text="${contact.category}"/>
            <td th:text="${contact.subcategory}"/>
            <td th:text="${contact.phone}"/>
            <td th:text="${contact.birthday}"/>
            <td>
                <a th:href="@{/contact/delete/{id}/(id=${contact.id})}">Delete</a>
                <a th:href="@{/contact/update/{id}/(id=${contact.id})}">Edit</a>
                <a th:href="@{/contact/update/{id}/(id=${contact.id})}">Back</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>